<link rel="stylesheet" href="assets/jquery-ui.css"/>
<link rel="stylesheet" href="assets/creep.css"/>
<script type='text/javascript' src='assets/jquery-ui.js'></script>
<script type='text/javascript' src='assets/creep.js'></script>
<script type='text/javascript' src='assets/shop.js'></script>
<table id="minion_wave">
  <colgroup>
    <col style="width: 33%">
    <col style="width: 33%">
    <col style="width: 33%">
  </colgroup>
  <tr>
    <td colspan="3">
      <div id="aa">
      </div>

    </td>
  </tr>
  <tr>
    <td>
      <div id="0_minion_wrapper" class="minion_wrapper">
        <div id="dmg"></div>
        <div id="hp"></div>
        <img id="minion_src"></img>
        <div id="0_focus" class="focus">
          0
        </div>
      </div>

    </td>
    <td>
      <div id="1_minion_wrapper" class="minion_wrapper">
        <div id="dmg"></div>
        <div id="hp"></div>
        <img id="minion_src"></img>
        <div id="1_focus" class="focus">
          0
        </div>
      </div>
    </td>
    <td>
      <div id="2_minion_wrapper" class="minion_wrapper">
        <div id="dmg"></div>
        <div id="hp"></div>
        <img id="minion_src"></img>
        <div id="2_focus" class="focus">
          0
        </div>
      </div>
    </td>
  </tr>
  <tr>
    <td>
      <div id="3_minion_wrapper" class="minion_wrapper">
        <div id="dmg"></div>
        <div id="hp"></div>
        <img id="minion_src"></img>
        <div id="3_focus" class="focus">
          0
        </div>
      </div>
    </td>
    <td>
      <div id="4_minion_wrapper" class="minion_wrapper">
        <div id="dmg"></div>
        <div id="hp"></div>
        <img id="minion_src"></img>
        <div id="4_focus" class="focus">
          0
        </div>
      </div>
    </td>
    <td>
      <div id="5_minion_wrapper" class="minion_wrapper">
        <div id="dmg"></div>
        <div id="hp"></div>
        <img id="minion_src"></img>
        <div id="5_focus" class="focus">
          0
        </div>
      </div>
    </td>
  </tr>
  <tr>
    <td colspan=1>
      <table class="smaller_table">
        <tr>
          <td class="right">
            <span class="spec">Gold:</span>
          </td>
          <td class="left">
            <span id="gold">0</span>
          </td>
        </tr>
        <tr>
          <td class="right">
            <span class="spec">Minions:</span>
          </td>
          <td class="left">
            <span id="minionsKilled">0</span>
          </td>

        </tr>

        <tr>
          <td class="right">
            <span class="spec">AD:</span>
          </td>
          <td class="left">
            <span id="ad">0</span>
          </td>
        </tr>
        <tr>
          <td class="right">
            <span class="spec">AS:</span>
          </td>
          <td class="left">
            <span id="as">0</span>
          </td>
        </tr>
        <tr>
          <td class="right">
            <span class="spec">Crit:</span>
          </td>
          <td class="left">
            <span id="crit">0</span>%
          </td>
        </tr>
      </table>
    </td>
    <td class="right" colspan="2">
      <table id="items">
        <colgroup>
          <col style="width: 16.66%">
          <col style="width: 16.66%">
          <col style="width: 16.66%">
          <col style="width: 16.66%">
          <col style="width: 16.66%">
          <col style="width: 16.66%">
        </colgroup>
        <tr>
          <td class="item" id="item_0"></td>
          <td class="item" id="item_1"></td>
          <td class="item" id="item_2"></td>
          <td class="item" id="item_3"></td>
          <td class="item" id="item_4"></td>
          <td class="item" id="item_5"></td>
        </tr>

      </table>
    </td>
  </tr>
  <tr>
    <td colspan=3>
      <input type="button" class="start" value="Start"/>
      <input type="button" class="btnShop" value="Shop" onclick="game.OpenShop();"/>
    </td>
  </tr>
</table>
<table id="shop">
  <colgroup>
    <col style="width: 33.33%">
    <col style="width: 33.33%">
    <col style="width: 33.33%">
  </colgroup>
  <tr>
    <td>
      <div id="shop_0" class="shop_item">
        <img class="shop_img"/>
      </div>
    </td>
    <td>
      <div id="shop_1" class="shop_item">
        <img class="shop_img"/>
      </div>
    </td>
    <td>
      <div id="shop_2" class="shop_item">
        <img class="shop_img"/>
      </div>
    </td>
  </tr>
  <tr>
    <td>
      <div id="shop_3" class="shop_item">
        <img class="shop_img"/>
      </div>
    </td>
    <td>
      <div id="shop_4" class="shop_item">
        <img class="shop_img"/>
      </div>
    </td>
    <td>
      <div id="shop_5" class="shop_item">
        <img class="shop_img"/>
      </div>
    </td>
  </tr>
  <tr>
    <td>
      <div id="shop_6" class="shop_item">
        <img class="shop_img"/>
      </div>
    </td>
    <td>
      <div id="shop_7" class="shop_item">
        <img class="shop_img"/>
      </div>
    </td>
    <td>
      <div id="shop_8" class="shop_item">
        <img class="shop_img"/>
      </div>
    </td>
  </tr>
  <tr>
    <td colspan="3">
      <div id="item_display">
        <div class="left" style="padding-top:10px"><b>Gold:</b> $<span id="shop_gold">0</span></div>
        <table id="item_display_table">
          <tr>
            <td rowspan="2">
              <div style="width:150px;height:150px;">
                <img id="item_display_img" class="shop_img"></img>
              </div>
            </td>
            <td colspan="2">
              <span id="item_display_title"></span>
            </td>
          </tr>
          <tr>
            <td style="width:150px">
              <span id="item_display_description"></span>
            </td>
            <td>
              <input type="button" class="buybtn" onclick="shop.BuyItem();" id="item_display_button" value="Buy"/>
              <input type="button" onclick="game.CloseShop();" id="item_display_button" value="Close"/>
            </td>
          </tr>
        </table>
      </div>
    </td>
  </tr>
  <tr>
    <td colspan="3" id="dependent_items">

    </td>
  </tr>
</table>

