<script type='text/javascript' src='assets/jquery-ui.js'></script>
<link rel="stylesheet" href="assets/jquery-ui.css"/>
<link rel="stylesheet" href="assets/dragracing_style.css"/>
<script type='text/javascript' src='assets/shop.js'></script>
<script type='text/javascript' src='assets/dragstrip.js'></script>
<script type='text/javascript' src='assets/car.js'></script>
<script type='text/javascript' src='assets/money.js'></script>
<script type='text/javascript' src='assets/race.js'></script>
<script type='text/javascript' src='assets/opponent.js'></script>
<script type='text/javascript' src='assets/random.js'></script>
<script type='text/javascript' src='assets/names.js'></script>
<script type='text/javascript' src='assets/typing.js'></script>
<script type='text/javascript' src='assets/tournament.js'></script>
<script type='text/javascript' src='assets/main.js'></script>

<script>
    var typing;
    var car;
    var driver;
    var money;
    var dragstrip;
    var shop;
    var main;
    var race;
    var opponent;
    var random;
    var names;

    $(window).load(function () {
        main = new Main();
        main.startGame();
        $(document).tooltip({
            track: true
        });

        $(window).keydown(function (e) {
            typing.checkStroke(e);
        });

    });

</script>

<table class="header">
  <tr>
    <td><b>
      <section id="txtCarName" contenteditable="true">
        car name
      </section>
    </b></td>
    <td align="center" rowspan="4" title="Your car takes steps (of movement) towards the finish line. Those steps will be randomly chosen in the range of your 'top' and 'bot' numbers. The higher the top number, the bigger possible increments you can take. The higher the bot number, the more consistent your increments will be. Your IQ will tack on a random increment between 0 and your IQ.">
      <h1>?</h1></td>
  </tr>
  <tr>
    <td style="width:170px">Cash - $<span id="money">50</span></td>

  </tr>
  <tr>
    <td style="width: 170px;">W/L - <span id="wins">0</span>/<span id="losses">0</span></td>
  </tr>
  <tr>
    <td style="width: 170px;">Lvl - <span id="lvl">1</span></td>
  </tr>
  <tr>
    <td colspan="2" style="width: 170px;"><a href="#" title="This is the largest step your can take in a race">Top</a> /
      <a href="#" title="This is the smallest step your car can take in a race">Bot</a> /
      <a href="#" title="This will ranndomly increase your step between 0 and your IQ">IQ</a> -
      <span id="stats">0/0/0</span></td>
  </tr>
</table>

<table align="right" class="shoptable">

  <tr>
    <th> Engine Upgrade</th>
    <th> Consistency</th>
    <th> Driving Lessons</th>
    <th> Sponsors</th>
    <th> Boosts</th>
  </tr>
  <tr>
    <td>+<span id="topInc">0</span> Top</td>
    <td>+<span id="botInc">0</span> Bot</td>
    <td>+<span id="iqInc">0</span> IQ</td>
    <td>+%<span id="incomeInc">0</span> Income Speed</td>
    <td rowspan=3>
      <div title="The cost of each boost is the boost x 100" id="divBoosts" style="width:100%;height:100%;overflow-y:scroll;">
        <button disabled=true; class="btnBoost" style="width:100%" id="2" onclick="javascript:shop.buyBoost('2')">
          +2/step
        </button>
        <br>
        <button disabled=true; class="btnBoost" style="width:100%" id="6" onclick="javascript:shop.buyBoost('6')">
          +6/step
        </button>
        <br>
        <button disabled=true; class="btnBoost" style="width:100%" id="11" onclick="javascript:shop.buyBoost('11')">
          +11/step
        </button>
        <br>
        <button disabled=true; class="btnBoost" style="width:100%" id="16" onclick="javascript:shop.buyBoost('16')">
          +16/step
        </button>
        <br>
        <button disabled=true; class="btnBoost" style="width:100%" id="22" onclick="javascript:shop.buyBoost('22')">
          +22/step
        </button>
        <br>
        <button disabled=true; class="btnBoost" style="width:100%" id="30" onclick="javascript:shop.buyBoost('30')">
          +30/step
        </button>
        <br>
        <button disabled=true; class="btnBoost" style="width:100%" id="35" onclick="javascript:shop.buyBoost('35')">
          +35/step
        </button>
        <br>
        <button disabled=true; class="btnBoost" style="width:100%" id="42" onclick="javascript:shop.buyBoost('42')">
          +42/step
        </button>
        <br>
        <button disabled=true; class="btnBoost" style="width:100%" id="51" onclick="javascript:shop.buyBoost('51')">
          +51/step
        </button>
        <br>
        <button disabled=true; class="btnBoost" style="width:100%" id="58" onclick="javascript:shop.buyBoost('58')">
          +58/step
        </button>
        <br>
        <button disabled=true; class="btnBoost" style="width:100%" id="69" onclick="javascript:shop.buyBoost('69')">
          +69/step
        </button>
        <br>
        <button disabled=true; class="btnBoost" style="width:100%" id="80" onclick="javascript:shop.buyBoost('80')">
          +80/step
        </button>
        <br>
      </div>
    </td>
  </tr>
  <tr>
    <td><i>$<span class="money" id="topPrice">0</span></i></td>
    <td><i>$<span class="money" id="botPrice">0</span></i></td>
    <td><i>$<span class="money" id="iqPrice">0</span></i></td>
    <td><i>$<span class="money" id="incomePrice">0</span></i></td>
  </tr>
  <tr>
    <td>
      <button disabled=true; class="shop_buttons" style="width:100%" id="btnSpeed" onclick="javascript:shop.buyUpgrade('speed');">
        Buy
      </button>
    </td>
    <td>
      <button disabled=true; class="shop_buttons" style="width:100%" id="btnCons" onclick="javascript:shop.buyUpgrade('cons');">
        Buy
      </button>
    </td>
    <td>
      <button disabled=true; class="shop_buttons" style="width:100%" id="btnIQ" onclick="javascript:shop.buyUpgrade('iq');">
        Buy
      </button>
    </td>
    <td>
      <button disabled=true; class="shop_buttons" style="width:100%" id="btnIncome" onclick="javascript:shop.buyUpgrade('income');">
        Buy
      </button>
    </td>
  </tr>
  <tr>
    <td id="hideme" colspan=5><span id="showBoost"> </span></td>
  </tr>
</table>

<table class="tourneyOp" title="Tournament available every three levels">
  <tr>
    <th colspan=2><span id="tourneyName">Tournament Racing</span></th>
  </tr>
  <tr>
    <td style="width:100px;" align="right">Payout:</td>
    <td align="left"> $<span class="money" id="tourneyPayout">0</span></td>
  </tr>
  <tr>
    <td align="right">Buy In:</td>
    <td align="left"> $<span class="money" id="tourneyPrice">0</span></td>
  </tr>
  <tr>
    <td colspan="2">
      <button class="tourney_buttons" style="width:100%" id="btnTourney" onclick="javascript:tourney.startTourney(car);">
        Enter Tournament
      </button>
    </td>
  </tr>
</table>

<table class="opStatsTable">
  <tr>
    <th align=center><span id="tourneyOpName"></span></th>
  </tr>
  <tr>
    <td align=center><span id="tourneyOpStats"></span></td>
  </tr>

</table>

<table title="Opponent's stats are based off your Lvl and Stats" class="racetable">
  <tr>
    <th colspan=2><span id="opName">OpName</span></th>
  </tr>
  <tr>
    <td style="width:100px;" align="right">Top/Bot/IQ:</td>
    <td align="left"><span id="opStats">OpStats</span></td>
  </tr>
  <tr>
    <td align="right">Payout:</td>
    <td align="left"> $<span class="money" id="racePayout">0</span></td>
  </tr>
  <tr>
    <td align="right">Buy In:</td>
    <td align="left"> $<span class="money" id="racePrice">0</span></td>
  </tr>
  <tr>
    <td colspan="2">
      <button disabled=true; class="shop_buttons" style="width:100%" id="btnRace" onclick="javascript:race.start(car,opponent);">
        Race
      </button>
    </td>
  </tr>
</table>

<div id="bracket">
  <table class="bracket">
    <tr>
      <td class="b" id="8-1"></td>
      <td class="e"></td>
      <td class="e"></td>
      <td class="e"></td>
    </tr>
    <tr>
      <td class="r"></td>
      <td class="b" id="4-1"></td>
      <td class="e"></td>
      <td class="e"></td>
    </tr>
    <tr>
      <td class="br" id="8-2"></td>
      <td class="r"></td>
      <td class="e"></td>
      <td class="e"></td>
    </tr>
    <tr>
      <td class="e"></td>
      <td class="r"></td>
      <td class="b" id="2-1"></td>
      <td class="e"></td>
    </tr>
    <tr>
      <td class="b" id="8-3"></td>
      <td class="r"></td>
      <td class="r"></td>
      <td class="e"></td>
    </tr>
    <tr>
      <td class="r"></td>
      <td class="br" id="4-2"></td>
      <td class="r"></td>
      <td class="e"></td>
    </tr>
    <tr>
      <td class="br" id="8-4"></td>
      <td class="e"></td>
      <td class="r"></td>
      <td class="e"></td>
    </tr>
    <tr>
      <td class="e"></td>
      <td class="e"></td>
      <td class="r"></td>
      <td class="b" id="tourneyWinner"></td>
    </tr>
    <tr>
      <td class="b" id="8-5"></td>
      <td class="e"></td>
      <td class="r"></td>
      <td class="e"></td>
    </tr>
    <tr>
      <td class="r"></td>
      <td class="b" id="4-3"></td>
      <td class="r"></td>
      <td class="e"></td>
    </tr>
    <tr>
      <td class="br" id="8-6"></td>
      <td class="r"></td>
      <td class="r"></td>
      <td class="e"></td>
    </tr>
    <tr>
      <td class="e"></td>
      <td class="r"></td>
      <td class="br" id="2-2"></td>
      <td class="e"></td>
    </tr>
    <tr>
      <td class="b" id="8-7"></td>
      <td class="r"></td>
      <td class="e"></td>
      <td class="e"></td>
    </tr>
    <tr>
      <td class="r"></td>
      <td class="br" id="4-4"></td>
      <td class="e"></td>
      <td class="e"></td>
    </tr>
    <tr>
      <td class="br" id="8-8"></td>
      <td class="e"></td>
      <td class="e"></td>
      <td class="e"></td>
    </tr>
  </table>
</div>

<div id="tableOut">

</div>
<div class="result">

</div>