<div class="container">
  <div class="row">
    <div class="col-lg-4">
    </div>
    <div class="col-lg-4">
      <img src="assets/hotdog.png" class="img-responsive"/>
    </div>
    <div class="col-lg-4 col-centered">
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
    </div>
    <div class="col-lg-4">
      <h4 style="margin:auto">just wait pls</h4>
    </div>
    <div class="col-lg-4 col-centered">
    </div>
  </div>
</div>